.article {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
}

.content {
    display: flex;
    max-height: 20%;
}

.likes {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
