.main {
    display: flex;
    justify-content: space-between;
    width: 98vw;
    height: 90%;
}

.content {
    width: 100%;
}

.articles {
    max-height: 80%;
    overflow: scroll;
    margin-top: 20px;
}


